@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background: linear-gradient(
    89.2deg,
    rgb(191, 241, 236) 22.3%,
    rgb(109, 192, 236) 84.1%
  );
  max-height: 100vh;
}

section {
  font-family: "Lato", sans-serif;
  margin: 100px auto;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #dcdbdb;
}

.input-box {
  padding: 15px 20px;
  width: 80%;
  background-color: #dcdbdb;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

.btn-search {
  padding: 15px 30px;
  background-color: #6584ff;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
}

main {
  padding: 30px 0;
}

h1 {
  font-size: 80px;
  margin: 0 0 20px 0;
  text-align: right;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-detail {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.weather-container-temp {
  display: flex;
  gap: 20px;
  align-items: center;
}

.weather-emoji {
  font-size: 50px;
}

.weather-app-icon{
  height: 90px;
  margin: 0;
  padding: 0;
}

.degree {
  font-size: 60px;
}

.temp{
  display: flex;
  position: relative;
}

footer {
  padding: 30px 0 0 0;
  border-top: 1px solid #dcdbdb;
  text-align: center;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .input-box{
    margin-right: 5px;
  }

  h1{
    text-align: left;
  }
  
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .weather-container{
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .weather-container-temp{
    margin-bottom: 10px
  }
}